Agente de Inventario.json
{
  "name": "Agente de Inventario",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        0
      ],
      "id": "d3463c87-9a85-4b98-9a08-225669dd4fcb",
      "name": "Telegram Trigger",
      "webhookId": "b176f8ed-2a78-4a37-9675-2dd0f77f1c43",
      "credentials": {
        "telegramApi": {
          "id": "Ow1cKWMvjnYWezqI",
          "name": "n8n_adl_bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=1. Busca el producto para obtener su id y stock actual, para buscar utiliza los comodines '%' ya que el filtro utiliza ilike. Al buscar un producto puede estar registrado en plural o\nsingular.\n\n2. Registra el movimiento de entrada. Si hay ambigüedad respecto a qué producto se refiere la persona, por ejemplo hay más de un producto que haga match con el nombre, pide aclaración antes de continuar pero entregale información relevante para que pueda tomar decisión.\n\n3. Antes de sacar productos revisa no quedar con stock 0 y si al sacar productos quedara con una cantidad negativa de stock, no lo registres. En caso contrario registra el movimiento de salida. Si hay ambigüedad respecto a qué producto se refiere la persona, por ejemplo hay más de un producto que haga match con el nombre, pide aclaración antes de continuar pero entregale información relevante para que pueda tomar decisión."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        0
      ],
      "id": "ed4d4cf0-6a03-4fbd-a56d-fd45c1eb48c2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        224
      ],
      "id": "399432ff-9dd7-46b5-90b5-4ecd70714736",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ROMsOoTBXPvC74By",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": " Buscar un producto por nombre para obtener su información y stock actual (Supabase Tool)",
        "operation": "getAll",
        "tableId": "productos",
        "filters": {
          "conditions": [
            {
              "keyName": "nombre",
              "condition": "ilike",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Field_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        96,
        224
      ],
      "id": "20b482e6-e67c-4f61-a3c1-db13104e007a",
      "name": "Consuta producto",
      "credentials": {
        "supabaseApi": {
          "id": "tBd9iDjlQFQ3DifN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Registrar una entrada de inventario (producto recibido)",
        "tableId": "movimientos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "producto_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "entrada"
            },
            {
              "fieldId": "cantidad",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "descripcion",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        224,
        224
      ],
      "id": "ad57dec5-642b-4382-b666-9397ad961211",
      "name": "Registra entrada",
      "credentials": {
        "supabaseApi": {
          "id": "tBd9iDjlQFQ3DifN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Registrar una salida de inventario (producto vendido)",
        "tableId": "movimientos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "producto_id",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "tipo",
              "fieldValue": "salida"
            },
            {
              "fieldId": "cantidad",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "descripcion",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues3_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "fecha",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        352,
        224
      ],
      "id": "0fea928f-43d3-4176-a8ad-231eab7e0d58",
      "name": "Registra salida",
      "credentials": {
        "supabaseApi": {
          "id": "tBd9iDjlQFQ3DifN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "0f62b693-7a6e-4eb1-93b5-9d9365e6a29c",
      "name": "Send a text message",
      "webhookId": "865a2651-b1c1-4f9e-84f0-9c895c00aca1",
      "credentials": {
        "telegramApi": {
          "id": "Ow1cKWMvjnYWezqI",
          "name": "n8n_adl_bot"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        224
      ],
      "id": "06b10097-108b-4b1c-8e5f-5b77c1133863",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Consuta producto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registra entrada": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registra salida": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f2681982-01b2-43db-92fe-df788bc57311",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad403fd57ae03c56950f4c55ae2922abae5638baffab652d213fff0a7952d61d"
  },
  "id": "4r2iXltumfkhFvf0",
  "tags": []
}