Clase Guardralis - Telegram.json
{
  "name": "Clase Guardralis - Telegram",
  "nodes": [
    {
      "parameters": {
        "text": "={{ $json.message }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7
            }
          },
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          },
          "urls": {
            "value": {
              "allowedUrls": ""
            }
          }
        },
        "customizeSystemMessage": true
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        -624,
        64
      ],
      "id": "96ad77f4-49c2-4026-9480-dbacb4fd6a48",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        288
      ],
      "id": "000529c0-a6eb-45a1-8e27-2beea1272b12",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uppimy3fORJiVyZd",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un agente especialista en los productos disponibles de la tienda.\n\nPuedes responder sobre la descripción del producto de forma detallada, cuando no encuentres el producto solicitado, indica de forma amable que no vendemos ese producto.\n\nPara obtener las informaciones del producto, usa la herramienta de Google Sheets.\n\nPregunta de cliente:  {{ $json.guardrailsInput }}\n\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -224,
        -192
      ],
      "id": "359fd996-476e-4569-9c16-8a4752dfd5dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -272,
        32
      ],
      "id": "85f9369e-2a94-4a33-9f04-bd949d5c4416",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "uppimy3fORJiVyZd",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BWqUI3Xelk3pReJFmps4_oqCbG-rC9QGyJeSOsnquVU",
          "mode": "list",
          "cachedResultName": "Análisis con Gemini",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BWqUI3Xelk3pReJFmps4_oqCbG-rC9QGyJeSOsnquVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BWqUI3Xelk3pReJFmps4_oqCbG-rC9QGyJeSOsnquVU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -16,
        32
      ],
      "id": "2caa5478-df0c-4c05-97c2-8e006dd89bc9",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZKBhfgFf8EWYYvlS",
          "name": "Conexión Google"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1072,
        64
      ],
      "id": "b2613176-9cb8-4c1a-b1ae-fb0991b814de",
      "name": "Telegram Trigger",
      "webhookId": "c259b5fe-9bf4-4ea0-9ddf-285b51467231",
      "credentials": {
        "telegramApi": {
          "id": "Ow1cKWMvjnYWezqI",
          "name": "n8n_adl_bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9cc42f7-c019-4e95-82fc-78cb3daa16d4",
              "name": "chat_id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            },
            {
              "id": "f1ce2920-3e64-43fb-8cb5-cf08c5355b66",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        64
      ],
      "id": "73748587-b977-4370-891e-9803585f57de",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.chat_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -144,
        32
      ],
      "id": "e76f9740-0306-47a0-aa7b-2f67ef2b7c49",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9cQqvNBmNlP293SY",
          "name": "Postgres .dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        -96
      ],
      "id": "eb1f938b-c41b-4dc3-bca9-2c474afa5c93",
      "name": "Send a text message",
      "webhookId": "a431c8da-115a-44c4-ba9f-4128f6c5a05e",
      "credentials": {
        "telegramApi": {
          "id": "Ow1cKWMvjnYWezqI",
          "name": "n8n_adl_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "Ese tipo de pregunta no la puedo responder por restricciones. ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        208
      ],
      "id": "66f61c42-137b-4aa0-8210-2fd6d05d2b5a",
      "name": "Send a text message1",
      "webhookId": "173addbf-f4f5-4093-a86b-52aca9d8a2ba",
      "credentials": {
        "telegramApi": {
          "id": "Ow1cKWMvjnYWezqI",
          "name": "n8n_adl_bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fdc8b28d-cee9-4dcc-b318-bdcfa1c92e54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad403fd57ae03c56950f4c55ae2922abae5638baffab652d213fff0a7952d61d"
  },
  "id": "A51LtTJO5TnzqX33",
  "tags": []
}