Clase Guardralis - chat nativo.json
{
  "name": "Clase Guardralis - chat nativo",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -928,
        64
      ],
      "id": "f89fe7eb-788e-4d30-8251-18981750b07c",
      "name": "When chat message received",
      "webhookId": "f8cd2532-73b9-443a-ae44-4949d5891adb"
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "guardrails": {
          "jailbreak": {
            "value": {
              "threshold": 0.7
            }
          },
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          },
          "urls": {
            "value": {
              "allowedUrls": ""
            }
          }
        },
        "customizeSystemMessage": true
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        -704,
        64
      ],
      "id": "70d34e9b-e283-4b3a-94b0-aed0ba5471a3",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -640,
        288
      ],
      "id": "1f54faa3-b824-4df8-8acf-e4f57a26e608",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uppimy3fORJiVyZd",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        112,
        -96
      ],
      "id": "89c55618-1fe4-4149-a0c6-d0366a18760d",
      "name": "Chat",
      "webhookId": "7fc6930c-5eab-465c-8db6-8f3aa1d45ec8"
    },
    {
      "parameters": {
        "message": "Texto no válido. Inyección de prompt",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        -240,
        208
      ],
      "id": "1b092aa9-7c36-4870-8ba0-a6c979fa1dd9",
      "name": "Chat1",
      "webhookId": "507d8625-da1e-47b9-b032-73427da84b20"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres un agente especialista en los productos disponibles de la tienda.\n\nPuedes responder sobre la descripción del producto de forma detallada, cuando no encuentres el producto solicitado, indica de forma amable que no vendemos ese producto.\n\nPara obtener las informaciones del producto, usa la herramienta de Google Sheets.\n\nPregunta de cliente:  {{ $json.guardrailsInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -304,
        -192
      ],
      "id": "c6fe3931-9b47-46b2-99a1-582c3bfaa621",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        32
      ],
      "id": "fa9d9ab9-f954-49db-8df4-6143f4976a0f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "uppimy3fORJiVyZd",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -224,
        32
      ],
      "id": "dc817e6c-0dc1-4a1b-b754-45a3f3f98e39",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9cQqvNBmNlP293SY",
          "name": "Postgres .dev"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BWqUI3Xelk3pReJFmps4_oqCbG-rC9QGyJeSOsnquVU",
          "mode": "list",
          "cachedResultName": "Análisis con Gemini",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BWqUI3Xelk3pReJFmps4_oqCbG-rC9QGyJeSOsnquVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BWqUI3Xelk3pReJFmps4_oqCbG-rC9QGyJeSOsnquVU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -96,
        32
      ],
      "id": "26b031fd-b3d8-4c19-8ba4-3208d4e1de3c",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZKBhfgFf8EWYYvlS",
          "name": "Conexión Google"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1e3f3cb5-06f8-4d88-a133-99f281c0bdbe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad403fd57ae03c56950f4c55ae2922abae5638baffab652d213fff0a7952d61d"
  },
  "id": "zUR82X0DWmN9IUiF",
  "tags": []
}