Envio de recordatorios.json
{
  "name": "Envio de recordatorios",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -144,
        -16
      ],
      "id": "ea246740-eea8-4999-88a8-bea25edf8b77",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DZle4aZkfPMIeznztuee35MOX1Gd6LYeujJ0rWcclEw",
          "mode": "list",
          "cachedResultName": "Clinica Salud Vital",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DZle4aZkfPMIeznztuee35MOX1Gd6LYeujJ0rWcclEw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DZle4aZkfPMIeznztuee35MOX1Gd6LYeujJ0rWcclEw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        -16
      ],
      "id": "0842a72f-0c78-4241-9fb4-877f2ad1b543",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mdtezfuq9TCMYSqC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2cd0cda2-d64e-4547-b255-9a9431c06bb8",
              "leftValue": "={{ $json.fecha_cita }}",
              "rightValue": "={{ $now.plus(1, 'days').format('yyyy-MM-dd')}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        272,
        -16
      ],
      "id": "fed12c6f-d2cc-4e6e-8dc9-67b161660f7b",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.paciente_email }}",
        "subject": "Recordatorio de cita",
        "message": "=Tienes una cita agendada para {{ $json.fecha_cita }} a las {{ $json.hora_cita }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        -112
      ],
      "id": "19cdf5d1-4747-4778-9361-e29618ed64e6",
      "name": "Send a message",
      "webhookId": "685a9938-786b-49a2-84a0-910920061721",
      "credentials": {
        "gmailOAuth2": {
          "id": "F1t314zQGu21pSVG",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a26443e8-420d-4247-b8f5-6d201ba0983d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d29f50722c25734addaaf9a47ad108a4c865616a5188547899673acb8fb73e78"
  },
  "id": "BxqG8i1C3L0nP82ZeN60Z",
  "tags": []
}