Precios Amazon.json
{
  "name": "Precios Amazon",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a9480cf2-2f60-4d3c-9c5f-6f93c6523cca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://realtime-amazon-data.p.rapidapi.com/product-search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "keyword",
              "value": "coffee machine"
            },
            {
              "name": "country",
              "value": "us"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "realtime-amazon-data.p.rapidapi.com"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1}}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": 2
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "0035ca4f-6ed7-4e05-9ff4-c968af15d046",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "pQGzIfKRokhWXEKR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72a18cd1-1406-4b51-9c98-e8ed7381eac8",
              "name": "items",
              "value": "={{ $json.details }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        0
      ],
      "id": "f7fe6e21-3667-4817-88d8-f5ae641ca136",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "9bba52de-1d14-40af-90bb-3f5f4a316c89",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d57865b8-317b-44d2-82b5-4a03e4a18b10",
              "leftValue": "={{ $json.originalPrice }}",
              "rightValue": "Not available",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        0
      ],
      "id": "19541cd6-dd51-48c4-b2ae-e55f0f3a330f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Nywi9f-Pde7kMvE8OWKS2s_LovT-UV_RZ4ELL4XsBjM",
          "mode": "list",
          "cachedResultName": "Amazon",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nywi9f-Pde7kMvE8OWKS2s_LovT-UV_RZ4ELL4XsBjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Nywi9f-Pde7kMvE8OWKS2s_LovT-UV_RZ4ELL4XsBjM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asin": "={{ $json.asin }}",
            "titulo": "={{ $json.ProductTitle }}",
            "precio": "={{ $json.price }}",
            "url": "={{ $json.productUrl }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "asin",
              "displayName": "asin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "precio",
              "displayName": "precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        -96
      ],
      "id": "45b493fb-81d3-4289-9179-13fe3c0f48e8",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZKBhfgFf8EWYYvlS",
          "name": "Conexión Google"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a5d8c4db-2007-470e-89be-7eb33b4bc1f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad403fd57ae03c56950f4c55ae2922abae5638baffab652d213fff0a7952d61d"
  },
  "id": "EI9i6AYIXeJ3KTsh",
  "tags": []
}